.price{
    font-size: 1.5em;
    font-weight: bold;
}



.card-img-top{
   max-height: 400px;
}

.card{
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 18rem;
    
}
.card-text{
    overflow: hidden;
    height: 100%;
    max-height: 125px;
    display: block;
}

.center{
    justify-content: center;
}