<div class="container">

  <div class="text-center" *ngIf="cart.length == 0">
    <h1>There are no movies in the cart, go back to the <a routerLink="/movies">Movies</a> to add one!</h1>
  </div>

  <div *ngIf="cart.length > 0">

    <div class="text-center mb-5">
      <h1>Get ready to watch these movies!</h1>
    </div>

    <div class="row">
      <!--Peliculas en carrito-->
      <div class="col-sm-8">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-stretch center" *ngFor="let movie of cart">
            <div class="card card-movies">
              <img src="{{ movie.Poster }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{movie.Title}} ({{movie.Year}})</h5>
                <small class="text-muted">Length: {{movie.Runtime}} | Score: {{movie.Rating}}</small>
                <p class="card-text">{{movie.Plot}}</p>
                <p class="price"> Price ${{movie.Price}}</p>
                <button class="btn btn-danger " (click)="removeFromCart(movie)">Remove from cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Carrito-->
      <div class="col-sm-4 col-md-2 col-lg-4">
        <div class="card">
          <div class="card-header bg-primary text-light">Your movies</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action" *ngFor="let movie of cart">{{movie.Title}}
              ${{movie.Price}} </li>
          </ul>
          <div class="card-footer text-muted font-weight-bold">
            Total:  {{getTotal() | currency}} 
          </div>
        </div>
      </div>
    </div>

  </div>


</div>