.price{
    font-size: 1.5em;
    font-weight: bold;
}

.card-movies{
   width: 18rem;
}

.card-img-top{
   max-height: 400px;
}

.card{
    margin-bottom: 10%;
}
.card-text{
    overflow: hidden;
    height: 100%;
    max-height: 125px;
    display: block;
}

.alert{
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

.center{
    justify-content: center;
}