<div class="container">
  <div class="text-center">
    <h1>List of available movies</h1>
  </div>
  <!--Boton ordenar-->
  <div class="row mb-2 justify-content-end">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle mr-3" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Order by:
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="sortMovies('Year')">Year</a>
        <a class="dropdown-item" (click)="sortMovies('Title')">Title</a>
        <a class="dropdown-item" (click)="sortMovies('Rating')">Score</a>
      </div>
    </div>
  </div>

  <div class="text-center mt-5" *ngIf="movies.length == 0">
    <h1>You got all movies! Check your <a routerLink="/cart">cart</a></h1>
  </div>
  <!--Listado de peliculas-->
  <div *ngIf="movies.length > 0">
    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch center" *ngFor="let movie of movies">
        <div class="card card-movies">
          <img src="{{ movie.Poster }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{movie.Title}} ({{movie.Year}})</h5>
            <small class="text-muted">Length: {{movie.Runtime}} | Score: {{movie.Rating}}</small>
            <p class="card-text">{{movie.Plot}}</p>
            <p class="price"> Price ${{movie.Price}}</p>
            <button class="btn btn-primary" (click)="addToCart(movie)">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Alerta-->
  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="successMessage">
    You added a new movie to the cart
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>