<div>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/movies">
      <img src="../assets/img/video.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      PeliculApp
    </a>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/cart">
      <img src="../assets/img/supermercado.svg" width="25" height="25" class="d-inline-block align-top" alt="">
      Cart</button>
  </nav>
</div>

<router-outlet></router-outlet>